*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;

    
    
}

.nav{
    width: 1000px;
    height: 150px;
   
    
    
}
.logoBnb{
    position: absolute;
    left: 94px;
    top: 46px;
    
   
}
#logotipo{
    width: 120px;
    height: auto;
  
    
}

.search{
    position: absolute;
    width: 297px;
    height: 55px;
    left: 1047px;
    top: 32px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
   
}

#ubication{
    background-color: white;
    stroke: none;
    border: 0 ;
    height: 55px;
}


#ubication h3{
    width: 140px;
    font-size: 14px;
    font-family: 'Mulish';
    font-style: normal;
    float: right;
    border-right: 2px solid #F2F2F2;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
              
}

#ubication h4{
    width: 100px;
    font-size: 14px;
    font-family: 'Mulish';
    font-style: normal;
    float: left;
    color: #BDBDBD;
    border-right: 2px solid #F2F2F2;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
               
}


.material-symbols-outlined{
    color: #EB5757;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 5%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

/* text */

.subTitle{
    width: 1440px;
    height: 50px;
}

.subTitle h2{
    color: #333333;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 24px;
    top: 148px;
    position: absolute;
    left: 94px;
  
}

.subTitle h3{
    position: absolute;
    left: 1280px;
    top: 154px;
    color: #4F4F4F;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    
    
}


/* imagenContainer */

.imagGroup{
   
    display: flex;
    flex-direction: row;
    justify-content: center;

  }




.imagecontainer{
    width: 395px;
    height: 370px;
    left: 94px;
    display: flex;
    flex-direction: column;
      
}

#principalImage{
    width: 395px;
    height: 269px;
    border-radius: 24px;
    margin: 0px 0px 20px 0px;
    

}

.photoFooter{
    width: 395px;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#host{
    width: 120px;
    height: 28px;
    border: 1px solid #4F4F4F;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 9px;
    border-radius: 12px;
    background-color: white;
    margin: 0px 0px 8px 0px;
    content: "superHost";
}
.beds{
    width: 210px;
    height: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    color: #828282;
    display: flex;
    justify-content: center;
    align-items: center;


}

.star{
    width: 55px;
    height: 28px;
    display: flex;
    justify-content: right;
    align-items: center;
    
}
#iconStar{
    width: 18px;
    width: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    color: #828282;
    display: flex;
    justify-content: center;
    align-items: center;
        
}
.star h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 5px;
    

}

.stylist{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 11px;
    color: #333333;
    
}


